.container_actions {
    display: flex;
    flex-wrap: wrap;
}


.item{
	flex: 0 0 auto;
	margin: 5px;
	padding: 10px;
}

.close{
    float: right;
    font: bold;
    &:hover{
        color:red;
        cursor: pointer;
    }
}