<div class="flex_containter">
    <h2 md-dialog-title>
     {{ 'app.retry.results.transaction.title' | translate }} {{type}} - {{ transactionId }}
     <md-icon md-icon
        class="close"
        (click)="dialogRef.close()"
        mdTooltipPosition="above"
        mdTooltip="{{'app.common.close' | translate}}">close</md-icon>
    </h2>
    <div>
        <md-progress-bar mode="indeterminate"
            color="accent"
            *ngIf="updatingXml"></md-progress-bar>
        <div ace-editor
            [(text)]="xmlSelected"
            [mode]="'xml'"
            [theme]="'dawn'"
            [options]="options"
            [readOnly]="readOnly"
            (textChanged)="change()"
            style="min-height: 90%;max-height: 90%; width:100%; overflow: auto;"></div>
    </div>
    <div class="footer_modal">
        <button md-raised-button
            [disabled]="!isValidXml"
            style="margin: 5px"
            color="primary"
            [style.display]="readOnly ? 'none' : 'block' "
            (click)="updateXml()">{{'app.common.update' | translate}}</button>
    </div>
</div>
