<md-progress-bar mode="indeterminate" *ngIf="updatingXml"></md-progress-bar>
<h2 md-dialog-title>Neptune</h2>
<div md-dialog-content>
    <div ace-editor
        [(text)]="xmlSelected"
        [mode]="'xml'"
        [theme]="'dawn'"
        [options]="options"
        [readOnly]="readOnly"
        style="min-height: 400px;max-height: 90%; width:100%; overflow: auto;"></div>
</div>
<div md-dialog-actions align="end">
    <button md-raised-button
        style="padding-right: 10px"
        color="primary"
        (click)="updateXml()">{{'app.common.update' | translate}}</button>
    <button md-raised-button
        color="primary"
        md-dialog-close>{{'app.common.close' | translate}}</button>
</div>
