.card-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

md-card {
    box-sizing: border-box;
    margin: 12px;
    flex: 1;
}

.search{
	flex: 1;
}

.result{
	flex: 1;
}

.xml_container{

}

.form_container{
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
}

.item{
	flex: 1;
	
}

.cell_grid{
	text-align:center;
	width:100px;
}

md-spinner {
  float:left;
  width: 24px;
  height: 24px;
  margin: 5px 10px 0px 0px;
}
