<md-progress-bar mode="indeterminate"
    color="accent"
    *ngIf="isChargingInitialData"></md-progress-bar>
<div class="card-container">
    <md-card class="search md_card_app"
        [style.display]="xmlTransactionSelected ? 'none' : 'block' ">
        <md-card-title>{{'app.retry.filter' | translate}}</md-card-title>
        <md-divider></md-divider>
        <md-card-content>
            <form (ngSubmit)="onSubmit()"
                [formGroup]="form">
                <md-select placeholder="{{'app.retry.applications' | translate}}"
                    class="item"
                    color="accent"
                    (change)="onSelectApplication($event.value)"
                    [(ngModel)]="selectedApplication"
                    formControlName="application">
                    <md-option *ngFor="let application of applications"
                        [value]="application.id">{{ application.name }}</md-option>
                </md-select>
                <md-select placeholder="{{'app.retry.services' | translate}}"
                    class="item"
                    color="accent"
                    formControlName="serviceControl">
                    <md-option *ngFor="let service of services"
                        [value]="service.id">{{ service.name }}
                    </md-option>
                </md-select>
                <md-select placeholder="{{'app.retry.consumer' | translate}}"
                    class="item"
                    color="accent"
                    formControlName="consumer">
                    <md-option *ngFor="let consumer of consumers"
                        [value]="consumer">{{ consumer }}
                    </md-option>
                </md-select>
                <md-input-container class="item" color="accent">
                    <input mdInput
                        type="number"
                        placeholder="{{'app.retry.message' | translate}}"
                        formControlName="messageId"
                        maxlength="10">
                </md-input-container>
                <md-input-container class="item" color="accent">
                    <input mdInput
                        type="date"
                        placeholder="{{'app.retry.initialDate' | translate}}"
                        formControlName="initialDate">
                </md-input-container>
                <md-input-container class="item" color="accent">
                    <input mdInput
                        type="date"
                        placeholder="{{'app.retry.finalDate' | translate}}"
                        formControlName="finalDate">
                </md-input-container>
            </form>
        </md-card-content>
        <md-card-actions align="end">
            <button md-mini-fab
                type="button"
                (click)="onSearch()"
                [disabled]="false"
                color="primary"
                mdTooltip="{{'app.common.search' | translate}}">
                <md-icon>search</md-icon>
            </button>
        </md-card-actions>
    </md-card>
    <md-card class="result md_card_app"
        [style.display]="xmlTransactionSelected ? 'none' : 'block' "
        *ngIf="showTransactions">
        <md-card-content>
            <md-progress-bar mode="indeterminate"
                color="accent"
                *ngIf="isSearching"></md-progress-bar>
            <p-dataTable [value]="transactions"
                *ngIf="!isSearching">
                <p-header>{{'app.retry.transactions' | translate}}</p-header>
                <p-column field="id"
                    header="{{'app.retry.results.transaction' | translate}}"></p-column>
                <p-column field="msgId"
                    header="{{'app.retry.results.messageId' | translate}}"></p-column>
                <p-column field="errorType"
                    header="{{'app.retry.results.errorType' | translate}}"></p-column>
                <p-column field="errorMessage"
                    header="{{'app.retry.results.error' | translate}}"></p-column>
                <p-column styleClass="col-button"
                    [style]="{'width':'40px'}">
                    <ng-template pTemplate="header">
                        <span>{{'app.retry.results.xml' | translate}}</span>
                    </ng-template>
                    <ng-template let-transactionTemplate="rowData"
                        pTemplate="body">
                        <md-icon md-list-icon
                            class="xml"
                            (click)="showXml(transactionTemplate)"
                            mdTooltip="{{'app.common.xml' | translate}}">settings_ethernet</md-icon>
                    </ng-template>
                </p-column>
                <ng-template let-transactionTemplate
                    pTemplate="rowexpansion">
                    <p-dataTable [value]="transactionTemplate.transactions">
                        <p-column field="id"
                            header="{{'app.retry.results.transaction' | translate}}"></p-column>
                        <p-column field="msgId"
                            header="{{'app.retry.results.messageId' | translate}}"></p-column>
                        <p-column field="start"
                            header="{{'app.retry.results.initialDate' | translate}}"></p-column>
                        <p-column field="end"
                            header="{{'app.retry.results.finalDate' | translate}}"></p-column>
                    </p-dataTable>
                </ng-template>
            </p-dataTable>
            <p-paginator rows="10"
                *ngIf="!resetPaginator"
                [style.display]="isSearching ? 'none' : 'block' "
                [totalRecords]="cantidad"
                pageLinkSize="5"
                (onPageChange)="paginate($event)"></p-paginator>
        </md-card-content>
        <md-card-actions align="end">
        </md-card-actions>
    </md-card>
</div>
