<md-toolbar class="toolbar_header">
    <font color="white">{{'app.user.title'|translate}}</font>
</md-toolbar>
<md-progress-bar mode="indeterminate"
    color="primary"
    *ngIf="isSearching"></md-progress-bar>
<div class="admin_container">
    <div class="users">
        <app-user-list [usersResult]="usersResult"
            (onUserSelected)="onUserSelected($event)"></app-user-list>
    </div>
    <div class="applications"
        *ngIf="!isSearching">
        <app-user-applications *ngIf="userApplications"
            [userApplications]="userApplications"
            [applications]="applications"
            [userName]="userName"
            (onSaveUserApplications)="onSaveUserApplications($event)" [login]="login"></app-user-applications>
    </div>
</div>
