md-tab-group {
    height: 100%;
}

.card-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

md-card {
    box-sizing: border-box;
    margin: 12px;
    max-width: 100vh;    
    min-width: 100vh;
    
}

.actual {
    flex: 1;
}

.history {
    flex: 1;
}
