md-tab-group {
    height: 100%;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

md-card {
    box-sizing: border-box;
    margin: 12px;
    max-width: 740px;
    max-height: 600x;
    min-width: 740px;
    min-height: 600x;
}

.actual {
    flex: 1;
}

.history {
    flex: 1;
}
