<md-sidenav-container fullscreen>
    <md-sidenav #sidenav
        mode="side">
        <md-nav-list class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
            <a md-list-item
                *ngFor="let view of views"
                (click)="goTo(view.link)">
                <md-icon md-list-icon>{{view.icon}}</md-icon>
                <span md-line>{{view.name}}</span>
                <span md-line
                    class="secondary">{{view.description}}</span>
            </a>
        </md-nav-list>
    </md-sidenav>

    <md-toolbar color="primary">
        <button md-icon-button
            (click)="sidenav.toggle()">
            <md-icon>menu</md-icon>
        </button>
        {{'app.title' | translate}}
    </md-toolbar>

    <div class="app-content">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>
