<md-card class="app-card-content">
    <md-card-title *ngIf="id">Application #{{id}}</md-card-title>
    <md-card-title *ngIf="!id">New Application</md-card-title>
    <form (ngSubmit)="onSubmit()">
        <md-card-content>
        </md-card-content>
        <md-card-actions align="end">
            <button md-button type="button" color="warn" *ngIf="id" (click)="doDelete()">Delete</button>
            <button md-button type="button" (click)="doReset()" [disabled]="true">Reset</button>
            <button md-button type="button" (click)="doCancel()">Cancel</button>
            <button md-raised-button color="primary" style="submit" [disabled]="!true">Save</button>
        </md-card-actions>
        <div *ngIf="pleaseSave">Please save or cancel</div>
    </form>
</md-card>
