.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

md-card {
    box-sizing: border-box;
    margin: 12px;
}


.table{
	margin-top: 10px;
}

.cell_grid{
	text-align:center;
	width:100px;
}
