<md-card class="app-card-content md_card_app">
    <md-card-content>
        <md-select placeholder="{{'app.retry.applications' | translate}}"
            class="item"
            (change)="onSelectApplication()"
            [(ngModel)]="selectedApplication">
            <md-option *ngFor="let application of applications"
                [value]="application.id">{{ application.name }}</md-option>
        </md-select>
        <md-list>
            <md-list-item *ngFor="let service of services">
                <h3 md-line
                    [class.edited]="service.id == (editid | async)"
                    routerLinkActive="active"
                    (click)='selectservice(service)'
                    [routerLink]="[ '/master/service',service.id ]">{{service.name}}</h3>
                <md-icon (click)="delete(service)"
                    class="delete"
                    mdTooltip="{{'app.master.service.tooltipDelete' | translate}}"
                    [mdTooltipPosition]="'above'">delete</md-icon>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
