<md-progress-bar mode="indeterminate"
            color="accent"
            *ngIf="isLogging"></md-progress-bar>
<div class="box">
    <div class="header">
        <div id="cont-lock"><i color="accent"
                class="material-icons lock">lock</i></div>
        <div id="bottom-head">
            <h1 id="logintoregister">Login</h1></div>
    </div>
    <form [formGroup]="form">        
        <div class="container_Login">
            <md-input-container color="accent">
                <input mdInput
                    type="text"
                    formControlName="userName"
                    placeholder="{{'app.login.user' | translate}}"
                    maxlength="50">
            </md-input-container>
            <md-input-container color="accent">
                <input mdInput
                    type="password"
                    formControlName="password"
                    placeholder="{{'app.login.password' | translate}}"
                    maxlength="50">
            </md-input-container>
            <button md-raised-button
                [disabled]="!form.valid"
                (click)="login()"
                color="primary">{{'app.login.login' | translate}}</button>
        </div>
    </form>
    <div id="footer-box">
        <!--<p class="footer-text">Not a member?<span class="sign-up"> Sign up now</span></p>-->
    </div>
</div>
