<md-card class="example-card">
    <md-toolbar>
        <h2>Login form</h2>
    </md-toolbar>

    <md-card-content>
        <div>
            <md-input-container class="example-full-width">
                <input mdInput
                    placeholder="User Name">
            </md-input-container>
        </div>
        <div>
            <md-input-container class="example-full-width">
                <input mdInput type="password"
                    placeholder="Password">
            </md-input-container>
        </div>
    </md-card-content>
    <md-card-actions>
        <button md-button
            color="primary">OK</button>
        <button md-button>CANCEL</button>
    </md-card-actions>
</md-card>
