<md-card class="app-card-content">
    <md-card-content>
        <md-list>
            <md-list-item *ngFor="let application of applications">
                <h3 md-line
                    [class.edited]="application.Id == (editid | async)"
                    routerLinkActive="active"
                    [routerLink]="[ '/master/application',application.Id ]">{{application.Name}}</h3>
                <md-icon (click)="delete(application)"
                    class="delete"
                    mdTooltip="{{'app.master.application.tooltipDelete' | translate}}"
                    [mdTooltipPosition]="'above'">delete</md-icon>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
