/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@include mat-core();
$pr-primary: ( 50: #E3E829, 100: #dde6f3, 200: #b4c9e4, 300: #7fa3d1, 400: #6992c9, 500: #5282c1, 600: #4072b4, 700: #38649d, 800: #305687, 900: #284770, A100: #E3E829, A200: #dde6f3, A400: #6992c9, A700: #38649d, contrast: ( 50: $black-87-opacity, 100: $black-87-opacity, 200: $black-87-opacity, 300: $black-87-opacity, 400: $black-87-opacity, 500: white, 600: white, 700: white, 800: white, 900: white, A100: $black-87-opacity, A200: $black-87-opacity, A400: $black-87-opacity, A700: white, ));
$pr-accent: ( 50: #063598, 100: #dde6f3, 200: #b4c9e4, 300: #7fa3d1, 400: #6992c9, 500: #5282c1, 600: #4072b4, 700: #38649d, 800: #305687, 900: #284770, A100: #063598, A200: #dde6f3, A400: #6992c9, A700: #38649d, contrast: ( 50: $black-87-opacity, 100: $black-87-opacity, 200: $black-87-opacity, 300: $black-87-opacity, 400: $black-87-opacity, 500: white, 600: white, 700: white, 800: white, 900: white, A100: $black-87-opacity, A200: $black-87-opacity, A400: $black-87-opacity, A700: white, ));
// Define the default theme (same as the example above).
$candy-app-primary: mat-palette($pr-primary, A100);
$candy-app-accent: mat-palette($pr-accent, A100);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent);
// Include the default theme styles.
@include angular-material-theme($candy-app-theme);
// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
md-icon.delete:hover {
    color: red;
    cursor: pointer;
}

md-icon.add:hover {
    color: yellow;
}

md-icon.refresh:hover {
    color: green;
}

md-icon.retry:hover {
    color: green;
    cursor: pointer;
}

md-icon.proteccion {
    border: 2px solid #063598;
    border-radius: 50%;
}

md-icon.proteccion:hover {
    //color: #E3E829;
    //border: 2px solid #E3E829;
    border-radius: 50%;
}

md-icon.xml:hover{
  color:#008AD1;
  cursor: pointer;
}

span {
    color: #063598
}

.secondary {
    color: #00AECB;
}

.md_card_app {
    background-color: #F7F7F7;
}

.side_nav {
    //background-color: #E3E829;
    background-color: #F7F7F7;
}

.toolbar_header {
    background-color: #008AD1;
}

.loading {
    opacity: 0;
    transition: opacity .8s ease-in-out;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #E3E829;
    z-index: -1;
}


/* .loading screen is visible when app is not bootstraped yet, .my-app is empty */

my-app:empty + .loading {
    opacity: 1;
    z-index: 100;
}

.toolbar_header.span {
    color: #FFFFFF;
}

.responsive-container {
  margin: 1em auto;
  min-height: 1024px;       /* cap container min width */
  max-height: 1024px;       /* cap container max width */
  position: relative;
  overflow: hidden;       /* crop if image is larger than container */
  background-color: #E3E829;
}
.responsive-container:before {
  content: "";            /* using pseudo element for 1:1 ratio */
  display: block;
  padding-top: 100%;
}
.responsive-container img {
  position: absolute;
  top: -999px;            /* use sufficiently large number */
  bottom: -500px;
  left: -999px;
  right: -999px;
  margin: auto;           /* center horizontally and vertically */
}
