.md_card_app {
    margin: -20px;
}

[hidden] {
    display: none !important;
}

.container_actions {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.button {
    align-self: end;
}

.container_form {
    display: flex;
    flex-direction: column;
}

.close{
    float: right;
    padding-left: 20px;
    font: bold;
    &:hover{
        color:red;
    }
}