.md_card_app {
    margin: -20px;
}

[hidden] {
    display: none !important;
}


.button {
    align-self: end;
}

.container_form {
    display: flex;
    flex-direction: column;
}

.close{
    float: right;
    padding-left: 20px;
    font: bold;
    &:hover{
        color:red;
        cursor: pointer;
    }
}

.container_dialog{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}