<md-progress-bar mode="indeterminate"
    color="accent"
    *ngIf="isUpdating"></md-progress-bar>
<h2 md-dialog-title>
     {{ 'app.master.service.title' | translate }} - {{ initialdata.name }}
     <md-icon md-icon
        class="close"
        (click)="dialogRef.close()"
        mdTooltipPosition="above"
        mdTooltip="{{'app.common.close' | translate}}">close</md-icon>
    </h2>
<form (ngSubmit)="onSubmit()"
    [formGroup]="form">
    <div class="container_form">
        <md-checkbox [disabled]="readOnly"
            formControlName="reqCallback">{{'app.master.service.reqCallBack' | translate}}</md-checkbox>

        <md-input-container class="form_control_container"
            color="accent"
            [hidden]="!form.get('reqCallback').value">
            <input mdInput
                type="text"
                [readonly]="readOnly"
                placeholder="{{'app.master.service.callBackStatus' | translate}}"
                formControlName="callBackStatus"
                maxlength="500">
            <md-error *ngIf="form.controls.callBackStatus.hasError('required')">
                {{'app.common.error.required' |translate}}
            </md-error>
        </md-input-container>

        <md-input-container class="form_control_container"
            color="accent">
            <textarea mdInput
                mdTextareaAutosize
                [readonly]="readOnly"
                placeholder="{{'app.master.service.url' | translate}}"
                formControlName="invokeUrl"
                maxlength="500"></textarea>
            <md-error *ngIf="form.controls.invokeUrl.hasError('required')">
                {{'app.common.error.required' |translate}}
            </md-error>
        </md-input-container>

        <md-input-container class="form_control_container"
            color="accent">
            <input mdInput
                type="number"
                [readonly]="readOnly"
                placeholder="{{'app.master.service.timeOut' | translate}}"
                formControlName="invokeTimeout"
                maxlength="10">
            <md-error *ngIf="form.controls.invokeTimeout.hasError('required')">
                {{'app.common.error.required' |translate}}
            </md-error>
        </md-input-container>

        <md-input-container class="form_control_container"
            color="accent">
            <input mdInput
                type="number"
                [readonly]="readOnly"
                placeholder="{{'app.master.service.retryCount' | translate}}"
                formControlName="retryCount"
                maxlength="10">
            <md-error *ngIf="form.controls.retryCount.hasError('required')">
                {{'app.common.error.required' |translate}}
            </md-error>
        </md-input-container>

        <md-input-container class="form_control_container"
            color="accent">
            <input mdInput
                [readonly]="readOnly"
                type="number"
                placeholder="{{'app.master.service.retryDelay' | translate}}"
                formControlName="retryDelay"
                maxlength="50">
            <md-error *ngIf="form.controls.retryDelay.hasError('required')">
                {{'app.common.error.required' |translate}}
            </md-error>
        </md-input-container>

        <md-input-container class="form_control_container"
            color="accent"
            [hidden]="!form.get('verCode').value">
            <input mdInput
                type="text"
                [readonly]="true"
                placeholder="{{'app.master.service.verCode' | translate}}"
                formControlName="verCode"
                maxlength="500"
                readonly>
            <md-error *ngIf="form.controls.verCode.hasError('required')">
                {{'app.common.error.required' |translate}}
            </md-error>
        </md-input-container>

        <md-input-container 
            class="form_control_container"
            color="accent">
            <textarea mdInput
                [readonly]="readOnly"
                mdTextareaAutosize
                placeholder="{{'app.master.service.verCodeUrl' | translate}}"
                formControlName="verCodeUrl"
                maxlength="500"></textarea>
            <md-error *ngIf="form.controls.verCodeUrl.hasError('required')">
                {{'app.common.error.required' |translate}}
            </md-error>
        </md-input-container>

        <md-input-container class="form_control_container"
            color="accent"
            [hidden]="emptyVerCode">
            <input mdInput
                [readonly]="readOnly"
                type="number"
                placeholder="{{'app.master.service.verCodeTimeOut' | translate}}"
                formControlName="verCodeTimeut"
                maxlength="50">
            <md-error *ngIf="form.controls.verCodeTimeut.hasError('required')">
                {{'app.common.error.required' |translate}}
            </md-error>
        </md-input-container>
    </div>
</form>
<div class="container_actions" *ngIf="!readOnly">
    <button md-raised-button
        color="primary"
        class="button"
        style="submit"
        (click)="onSubmit()"
        [disabled]="!form.valid || isUpdating">{{'app.common.save' | translate}}</button>
</div>
